@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inkination';
  src: url('../public/fonts/inklination/InklinationMonoTRIAL-Lt.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inkination';
  src: url('../public/fonts/inklination/InklinationMonoTRIAL-Rg.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inkination';
  src: url('../public/fonts/inklination/InklinationMonoTRIAL-Md.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inkination';
  src: url('../public/fonts/inklination/InklinationMonoTRIAL-SmBd.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inkination';
  src: url('../public/fonts/inklination/InklinationMonoTRIAL-Bd.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  h1 {
    @apply font-inkination uppercase font-black text-h1 leading-heading;
  }
  h2 {
    @apply font-inkination font-bold text-h2 leading-heading uppercase;
  }
  h3 {
    @apply font-bold text-h3 leading-heading uppercase;
  }
  h4 {
    @apply font-bold text-h4 leading-heading uppercase;
  }
  p {
    @apply font-prompt;
  }
  a {
    @apply text-primary;
  }
  body {
    @apply bg-dark;
  }
  html {
    @apply text-base font-prompt leading-base;
  }
}

:root {
  --primary-color: white;
}

.styled-link > a {
  @apply font-bold underline text-primary;
}

.pb-h1 {
  @apply pb-8;
}

.pb-h2 {
  @apply pb-4;
}

.pb-h3 {
  @apply pb-2;
}

.art-border {
  @apply border-dark border-t-4 border-b-4;
}

.section-container {
  @apply mx-auto px-8 max-w-7xl pb-20;
}

.centering {
  @apply flex justify-center items-center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
